<div>
  <%= flash[:success] %>
</div>
<div class="row">
    <div class="col col-md-3">
      <h1>User info</h1>
      <%= image_tag @user.get_profile_image(100,100) %>
      <table class="table">
        <tr>
          <th>name</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= @user.introduction %></th>
        </tr>
      </table>

      <div class="col pb-2 d-grid gap-2 col-6 mx-auto">
        <%= link_to edit_user_path(current_user.id), class: 'btn btn-outline-secondary' do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>

      <%= render 'books/newbook', booknew: @booknew %>

    </div>

    <div class="col col-md-8 offset-md-1">
      <h1>Users</h1>
      <table class="table">
        <tr>
        <th>image</th>
        <th>name</th>
        <th></th>
        </tr>

        <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(80, 80) %></td>
          <td><%= user.name %></td>
          <td><%= user.introduction %></td>
          <td><%= link_to 'Show', user_path(user.id) %></td>
        </tr>
        <% end %>
    </div>

  </table>
</div>